<!DOCTYPE html>
<html lang="en" ng-controller="TicketCtl" ng-app="app">
<head>
<meta charset="UTF-8">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.js"></script>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-resource.js"></script>
<script type="text/javascript" src="ticketcontroller.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="hkol.css" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>AngularJS</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h2>Time Tracker - Tickets</h2>
		</div>
		<div class="row">
			<div class="span6 offset3">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Date</th>
							<th>Hours</th>
							<th>Action</th>
						</tr>
					</thead>
						<tbody>
							<tr ng-repeat="ticket in tickets">
								<td >{{ ticket._id }}</td>
								<td>{{ ticket.date }}</td>
								<td>{{ ticket.hours }}</td>
								<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" 
									ng-click="setDataForGetTicket(ticket._id.$oid)">info</button>&nbsp;
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myDeleteModal" 
									ng-click="setDataForDeleteTicket(ticket._id.$oid)">delete</button></td>
							</tr>
						</tbody>
				</table>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Ticket JSON representation</h4>
					</div>
					<div class="modal-body">
						<p>{{ currentTicket }}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
				<!-- Modal -->
		<div class="modal fade" id="myDeleteModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Ticket deleted!</h4>
					</div>
					<div class="modal-body">
						<p>{{ deletedTicket }}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>